# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Turbo
.turbo

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
prod.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Dane specific
*.png
!apps/marketing/public/images/*.png
!apps/portal/public/images/*.png
